.discover {
  @apply inline-block px-4 py-3 leading-none text-white hover:text-teal-500 hover:bg-white mt-2 lg:mt-0 font-[Montserrat];
  background: linear-gradient(96.43deg, #05FFFF 0.92%, #79AFFF 33.95%, #4844FF 64.91%, #FA118E 100%);  

  border-radius: 4px;

  }

  .rainbow_box {
    width: 2px;
    height: 1550x;
    background: linear-gradient(
        0deg,#05FFFF 0.92%, #2C80FF 28.27%, #3834FF 50.46%, #FA118E 77.29%, #FF18E8 100%
    );
  }
  
  .link_bar{

width: 0px;
height: 212px;
border: 0.5px solid rgba(255, 255, 255, 0.7);
  }
